@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSansBold';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSansSemiBold';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Optima-Bold';
    src: url('../fonts/Optima/OPTIMA_B.TTF') format('truetype');
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima/OPTIMA.TTF') format('truetype');
}

@font-face {
    font-family: 'Sen-Bold';
    src: url('../fonts/Sen/static/Sen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir\ LT\ Std\ 35\ Light.otf") format("opentype");
}

body {
    /*font-size: clamp(1rem, 1.4vw + 0.5rem, 1.6rem);*/
    font-size: clamp(1rem, 1.3vw + 0.4rem, 1.4rem);
    background-color: #f6f1ed;
    background-color: #EEE5DD;
    color: #20303c !important;
    font-family: 'Avenir', sans-serif;
}

.font-optima {
    font-family: 'Optima';
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 0.03em;
}


.font-josefin {
    font-family: 'JosefinSans';
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 0.03em;
}

.font-avenir {
    font-family: 'Avenir';
    line-height: 1.5em;
    letter-spacing: 0.03em;
    font-size: clamp(1rem, 1.4vw + 0.5rem, 1.6rem);
}

.bg-powder-dark {
    background-color: #d0a38e;
}
.bg-powder-light {
    background-color: #e9c9bc;
}
.bg-gradient-powder-dark-to-white {
    background-image: linear-gradient(to bottom, #d0a38e, #e1b7b5, #e9ced7, #f0e7f0, #ffffff);
}
.bg-gradient-powder-light-to-white {
    background-image: linear-gradient(to bottom, #e9c9bc, #f1d5d4, #f4e3e9, #f7f1f7, #ffffff);
}
.bg-gradient-powder-dark-to-bg {
    background-image: linear-gradient(to bottom, #d0a38e, #d7b4a0, #dec4b3, #e6d5c8, #eee5dd);
}
.bg-gradient-powder-light-to-bg {
    background-image: linear-gradient(to bottom, #e9c9bc, #ead0c3, #ebd7cb, #ecded4, #eee5dd);
}


/* headers */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'JosefinSans', sans-serif;
    color: #EEE5DD !important;
}
h2 {
    font-size: clamp(1.5rem, 5.3vw - 0.8rem, 2.5rem);
    font-weight: 700;
    font-family: 'JosefinSans', sans-serif;
    color: #302F51;
}
h3 {
    font-size: clamp(1.5rem, 5.3vw - 0.8rem, 2.5rem);
    font-weight: 700;
    font-family: 'JosefinSans', sans-serif;
    color: #302F51;
}
h4 {
    font-size: clamp(1rem, 1.4vw + 0.5rem, 1.6rem);
    font-weight: 700;
    font-family: 'JosefinSans', sans-serif;
    color: #302F51;
}
h5 {
    font-size: clamp(1rem, 2.1vw + 0.1rem, 1.4rem);
    font-weight: 700;
    font-family: 'JosefinSans', sans-serif;
    color: #302F51;
}

.text-justify {
    text-align: justify
}

.col-vaglin-center {
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
}

.subheader {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'JosefinSans', sans-serif;
    color: #302F51;
}

.navbar {
    height: 100px;
}
.navbar-bg {
    background-color: #fff !important;
}

.nav-link {
    font-size: clamp(1.0rem, 1.6vw + 0.3rem, 1.3rem);
    /*font-weight: 700;*/
    font-family: 'JosefinSansSemiBold', sans-serif;
}

.nav-link-2 {
    color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    font-family: 'JosefinSansSemiBold', sans-serif;
}
.nav-link-2:hover {
    color: black;
} 

.navbar-link {
    font-size: x-large;
}

.section-bg-gradient1 {
    background: #F0D4D2;
    background: linear-gradient(90deg, rgba(240, 212, 210, 1) 42%, rgba(252, 245, 199, 1) 87%);
}

a.nav-link {
    position: relative;
    color: rgba(var(--bs-emphasis-color-rgb), 0.65);
}

a.nav-link:hover {
    color: black;
}

a.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #2b2e30;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

hr {
    height: 3px;
    background-color: darkgray;
}

.sidetext {
    writing-mode: vertical-lr;
    margin-top: 10rem;
    font-family: 'JosefinSansSemiBold';
    font-size: 2rem;
}
.sidetext-2 {
    writing-mode: vertical-lr;
    font-family: 'JosefinSansSemiBold';
    font-size: 2.5rem;
    color: #302F51;
    margin-top: 200px;
}

.hero-text {
    color: #EEE5DD !important;
    margin-left: 50%;
    width: 30%;
    padding-top: 100px;
}

.hero {
    background-image: url("../img/AdobeStock_221259739_Preview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    max-width: 1400px;
}

.hero-mobile {
    background-image: url("../img/AdobeStock_514051141_Preview_M2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 886px;
}
.hero-text-mobile {
    margin-left: 10%;
    width: 90%;
    padding-top: 30px;
    color: #302F51;
}
.hero-text-mobile-2 {
    position: absolute;
    top: 120px;
    width: 95%;
    padding-left: 20px;
    color: #302F51;
}

@media (min-width: 1200px) {
    .bannersection {
        background-image: url("../img/dog_banner_2.avif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    .bannercontent {
        background-color: rgba(254, 199, 79, .86);
        margin-left: 10%;
        height: 100%;
        width: 30%;
        padding: 50px;
    }

    .hero-text {
        margin-left: 50%;
        width: 40%;
        padding-top: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .bannersection {
        background-image: url("../img/dog_banner_1.avif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    .bannercontent {
        background-color: rgba(254, 199, 79, .86);
        margin-left: 5%;
        height: 100%;
        width: 37%;
        padding-top: 50px;
        padding-left: 30px;
    }

    .hero-text {
        margin-left: 50%;
        width: 40%;
        padding-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bannersection {
        background-image: url("../img/dog_banner_0.avif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    .hero {
        height: 400px;
    }

    .bannercontent {
        background-color: rgba(254, 199, 79, .86);
        height: 100%;
        width: 50%;
        padding-top: 50px;
        padding-left: 10px;
    }

    .hero-text {
        margin-left: 55%;
        padding-right:20px;
        width: 40%;
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    .bannersection {
        background-image: url("../img/dog_banner_0.avif");
        background-repeat: no-repeat;
        width: 100%;
    }

    .hero {
        height: 500px;
    }

    .bannercontent {
        background-color: rgba(254, 199, 79, .86);
        height: 100%;
        width: 50%;
        padding-top: 50px;
        padding-left: 10px;
    }

    .hero-text {
        margin-left: 60%;
        padding-right:20px;
        width: 40%;
        padding-top: 60px;
    }
}


.bannersection2 {
    background-image: url("../img/AdobeStock_403459323_Preview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.bannercontent2 {
    background-color: rgba(254, 199, 79, .86);
    margin-left: 60%;
    height: 100%;
    width: 30%;
    padding: 50px;
}

.banner-seperator {
    border-top: 1px solid #302F51;
    box-sizing: border-box;
    height: 0;
    width: 60%;
}

.bannercontent-fullwidth {
    background-color: rgba(254, 199, 79, .86);
    width: 100%;
    padding: 0px;
    margin-left: 0 !important;
}

.bannercontent-fulllwidth-textbox {}

.mosaicsection {}

.mosaic-img-box {}

/*
Dark Green #847c48    52 49 28
Dark Blue  #57557d    34 33 49
Orange     #f98d58    98 55 34
    */
.mosaic-text-box {}

.mosaic-text-box-bright {
    color: #ffffff;
}

.bg-dark-green {
    background-color: #847c48;
}

.bg-dark-blue {
    background-color: #57557d;
}

.bg-orange {
    background-color: #f98d58;
}

.bg-yellow {
    background-color: rgba(254, 199, 79) !important;
}
.bg-gray {
    background-color: rgb(200, 200, 200) !important;
}
.bg-white {
    background-color: #fff !important;
}
.border-bot {
    border-bottom: 1px solid lightgray;
}

.simplebanner {
    text-align: center;
    font-size: 30px;
    width: 80%;
    max-width: 1200px;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mt-6 {
    margin-top: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.w-80 {
    width: 80%;
}

.paw {
    transform: rotate(-75deg);
}

